/* Colors */
$bgcolor: white;
$black: rgb(48, 48, 48);
$grey: rgb(112, 112, 112);
$light-grey: rgb(175, 175, 175);
$blue: rgb(65, 138, 187);
$orange: rgb(255, 187, 0);
$purple: #6c4873;
$dark-purple: #53325a;