/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

#app {
    font-family: "Open Sans", sans-serif;
    background-color: $bgcolor;
    flex-direction: column;
    background-color: $bgcolor;
}

/* Make every div flex by default */
div {
    display: flex;
}

/* Text styles */
.strong {
    font-weight: 600;
}

.container {
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 12px;
}

// Forms
.input {
    flex-direction: column;
    margin-bottom: 20px;

    .label {
        font-size: 0.7em;
        color: $grey;
        margin-bottom: 7px;
    }

    .input-text {
        height: 30px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 2px;
        padding: 0 0 0 7px;
    }
}
